<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <%= turbo_stream_from :tweets %>

  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<%= turbo_frame_tag "new_tweet" do %>
  <%= link_to "New tweet", new_tweet_path %>
<% end %>
